<!-- ATTRIBUTE ORDER -->

<section class="row rule" data-equalizer data-equalize-on="xlarge">
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <h2>Attribute Order</h2>
    <p>HTML attributes should be generally listed in this order for clarity and legibility:</p>
    <ul>
    	<li>ID</li>
    	<li>Class</li>
    	<li>Name</li>
    	<li>Src, href, value, for, type</li>
    	<li>Title, alt</li>
    	<li>Role, aria-*</li>
    	<li>Booleans</li>
    </ul>
    <p>We put IDs first because they are unique identifiers that should be used sparingly and only as JS hooks. Therefore, it is important to see them immediately for understandability and debugging purposes.</p>
  </div>
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <div data-xrayhtml class="prism html">
    	<img class="..." src="..." alt="...">

    	<a id="..." class="..." href="..." data-attribute="...">A Link</a>
    </div>
  </div>
</section>