<!-- BOOLEAN ATTRIBUTES -->

<section class="row rule" data-equalizer data-equalize-on="xlarge">
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <h2>Boolean Attributes</h2>
    <p>When adding Boolean attributes to elements, be sure their placement is at the end of the element tag for optimal legibility.</p>
    <p>Booleans do not need a declared value, only the name of the boolean is necessary for a "true" value to occur.</p>
  </div>
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <div data-xrayhtml class="prism html">
    	<input type="checkbox" value="..." checked>

    	<button id="..." class="..." disabled>A Button</button>
    </div>
  </div>
</section>