<!-- CHARACTER ENCODING -->

<section class="row rule" data-equalizer data-equalize-on="xlarge">
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <h2>Character Encoding</h2>
    <p>Declare the character set of your content by using a UTF-8 encoding meta tag. This ensures that the browser parses and renders markup in the proper way for global utilization.</p>
    <p>The meta tag for character encoding should be placed as early in the head tag as possible to allow the browser to read and re-render content efficiently.</p>
  </div>
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <div class="prism html">
    	<pre>
    		<code>

    			&lt;head>
						&lt;meta charset="utf-8">
					&lt;/head>
    		
	    	</code>
	    </pre>
    	
    </div>
  </div>
</section>