<!-- DOCTYPE -->

<section class="row rule" data-equalizer data-equalize-on="xlarge">
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <h2>Doctype</h2>
    <p>To activate full standards mode in browsers, include <!DOCTYPE html> on every HTML page.</p>
    <p>To read more about Quirks and Standards Mode, read <a href="https://developer.mozilla.org/en-US/docs/Quirks_Mode_and_Standards_Mode">this article by Mozilla</a></p>
  </div>
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <div class="prism html">
    	<pre>
    		<code>

	    	&lt;!DOCTYPE html>
					&lt;html>
						&lt;head>&lt;/head>
						&lt;body>
							...
						&lt;/body>
					&lt;/html>

	    	</code>
	    </pre>
    </div>
  </div>
</section>