<!-- LANGUAGE ATTRIBUTE -->

<section class="row rule" data-equalizer data-equalize-on="xlarge">
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <h2>Language Attribute</h2>
    <p>Include the lang attribute on your <code>&lt;html&gt;</code> tag on each page. This will aid with speech synthesis tools as well as allow font styling for multiple languages throughout the page</p>
  </div>
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <div class="prism html">
    	<pre>

    		<code>&lt;html lang="en-us">
    			...
    		&lt;/html>
				</code>
			</pre>
    </div>
  </div>
</section>