<!-- SYNTAX -->

<section class="row rule" data-equalizer data-equalize-on="xlarge">
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <h2>Syntax</h2>
    <p>Use two space indentation. This is the best way to guarantee that code is rendered the same no matter the environment.</p>
    <ul>
    	<li>Editors should be programmed to perform a 'soft tab' equal to two spaces if the developer prefers to use the tab key.</li>
    	<li>Major file-size issues related to using spaces instead of tabs are inconsequential because of minification standards.</li>
    </ul>
    <p>Nested elements are always indented once.</p>
    <p>Use double quotes when assigning attribute values to elements.</p>
    <p>Use minimal markup to present content, styles, and any interaction required.</p>
    <p>Avoid using <code>&lt;br&gt;</code> tags to separate paragraphs or content. Use <code>&lt;p&gt;</code> with properly configured margins or style using CSS in order to overcome this extra markup.</p>
    <p>Do not include trailing slashes for self-closing elements. Do include closing tags for those elements where it is considered optional (<code>&lt;li&gt;</code>, <code>&lt;body&gt;</code>)</p>
    <p>Use native, semantic HTML5 tags whenever possible for cleaner markup and generally good accessibility.</p>
    <p>Do not use tables for layout. Only use tables when displaying tabular data.</p>
	<p>Structure blocks of code in a modular fashion so that they can be reused throughout projects during implementation. Refer to Brad Frost's Atomic Design as a reference for this style of coding.</p>
  </div>
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <div data-xrayhtml class="prism html">
    	<header>
    		<nav>
    			<ul>
    				<li>...</li>
    				<li>...</li>
    			</ul>
    		</nav>
    	</header>
    	<div class="content-box">
    		<h3>...</h3>
    		<p>...</p>
    		<ul>
    			<li>...</li>
    			<li>...</li>
    		</ul>
    		<a href="...">Home</a>
    		<form action="...">
    			<input type="text" name="firstName" placeholder="First Name">
    		</form>
    	</div>
		</div>
  </div>
</section>

<div class="clearfix"></div>