// ----------------------------------------------
// Components - Section Title
// ----------------------------------------------

.section-title {
	padding-left: 2rem;
	background-color: $tan-700;
	border-bottom: 1px solid $tan-900;
}