<!-- ARIA LANDMARKS -->

<section class="row rule" data-equalizer data-equalize-on="xlarge">
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <h2>ARIA Landmarks</h2>
    <p>Aria landmarks should be used to inform the user as to the purpose of the element.</p>
    <p>Ensure that aria landmarks are not overused. Native semantic HTML5 tags such as header, nav, and button already inform the user as to what they are and the content they contain.</p>
  </div>
  <div class="column small-12 xlarge-6" data-equalizer-watch></div>
</section>