<!-- FORMS -->

<section class="row rule" data-equalizer data-equalize-on="xlarge">
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <h2>Forms</h2>
    <p>All input fields should have a label associated with them for accessibility. If the project's design doesn't include a label, code one anyways and hide it using the techniques in "Hidden Screen Reader Content".</p>
    <p>Use fieldset and legend for groups of inputs like radio buttons or checkboxes so that disabled users can see what selections are available within that grouping as well as the context of the selection.</p>
    <p>Ensure that all input fields have a visible focus style. This could be an outline around the input or a background color change. As long as it is visually apparent to the user.</p>
  </div>
  <div class="column small-12 xlarge-6" data-equalizer-watch></div>
</section>