<!-- ICONS -->

<section class="row rule" data-equalizer data-equalize-on="xlarge">
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <h2>Icons</h2>
    <p>Icons generally do not add anything to the content of a page for disabled users. In this case, when used as images, their alt tag should be left blank.</p>
    <p>Should an icon be used in place of text (ex, magnifying glass icon to open a search bar). Then hidden screen reader text and proper symantic HTML should be in place around it.</p>
  </div>
  <div class="column small-12 xlarge-6" data-equalizer-watch></div>
</section>