<!-- IMAGES -->

<section class="row rule" data-equalizer data-equalize-on="xlarge">
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <h2>Images</h2>
    <p>Image should always have an alt attribute, the following rules apply to image alt tags:</p>
    <ul>
    	<li>Write a brief description of the image in case it cannot be loaded or if the user is visually impaired and cannot see it.</li>
    	<li>If the image is not adding anything to the content (ex. A page divider, an icon), then the alt tag can be left blank.</li>
    	<p>When images don't have an alt tag associated with them at all a screen reader will speak the file name.</p>
    </ul>
  </div>
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <div data-xrayhtml class="prism html">
			<!-- Image with alt tag -->
			<img src="giraffe.png" alt="Giraffe grazing in a field">

			<!-- Image with blank alt tag -->
			<img src="page-divider.png" alt="">
    </div>
  </div>
</section>


