<!-- KEYBOARD TESTING -->

<section class="row rule" data-equalizer data-equalize-on="xlarge">
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <h2>Keyboard Testing</h2>
    <p>Make sure that your webpage can be easily navigated using only the keyboard's 'tab' key. Make sure you can also use the 'enter' and 'space' key.</p>
    <p>Make sure you can open and close modules using just the keyboard.</p>
    <p>Watch out for dropdown navigation. Navigation, even with hidden menus, must be reachable via keyboard.</p>
  </div>
  <div class="column small-12 xlarge-6" data-equalizer-watch></div>
</section>