<!-- MEANINGFUL CONTENT -->

<section class="row rule" data-equalizer data-equalize-on="xlarge">
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <h2>Meaningful Content</h2>
    <p>Ensure that page titles, headings and anchor link text is meaningful. This means that a person should be able to read the text of an anchor link and see exactly what they are going to be doing/where it is going to be taking them.</p>
    <p>Do not put any text that is important to the user in psuedo-elements. This is not seen by disabled people using a screen reader.</p>
  </div>
  <div class="column small-12 xlarge-6" data-equalizer-watch></div>
</section>