<!-- SCREEN READER TESTING -->

<section class="row rule" data-equalizer data-equalize-on="xlarge">
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <h2>Screen Reader Testing</h2>
    <p>When available, user testing with real screen reader users is always preferred.</p>
    <p>In lieu of user testing, the Mac OS has a native screen reader that can be used to read through web pages. Use this to do initial and lightweight testing of your website.</p>
  </div>
  <div class="column small-12 xlarge-6" data-equalizer-watch></div>
</section>