<!-- SKIP LINKS -->

<section class="row rule" data-equalizer data-equalize-on="xlarge">
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <h2>Skip Links</h2>
    <p>Include a link on each page outside of and before the main content that allows the user to skip to the main body content. This is helpful to disabled users who are using screen readers or keyboard navigation and want to skip over the navigation (which may be extremely long).</p>
    <p>Skip links can and should be hidden from a typical user's view by using the techniques in "Hidden Screen Reader Content".</p>
  </div>
  <div class="column small-12 xlarge-6" data-equalizer-watch></div>
</section>