<!-- SYNTAX -->

<section class="row rule" data-equalizer data-equalize-on="xlarge">
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <h2>Syntax</h2>
    <p>Use native, semantic HTML(5) tags. Screen readers know how to identify elements such as <code>&lt;header></code> and <code>&lt;nav></code>, as compared to generic <code>&lt;div></code> and <code>&lt;span></code> tags.</p>
    <p>Headings should be in  their natural hierarchy on the page. (Ex. <code>&lt;h1></code> followed by <code>&lt;h2></code>, etc.) In addition, there should always be an <code>&lt;h1></code> at the top of a page in order for disabled user to see what that page's content is about.</p>
  </div>
  <div class="column small-12 xlarge-6" data-equalizer-watch></div>
</section>