<!-- VISUAL DATA -->

<section class="row rule" data-equalizer data-equalize-on="xlarge">
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <h2>Visual Data</h2>
    <h3>Tables</h3>
    <p>All tables should be written symantically using <th> tags in order to signify the table headers.</p>
    <p>Use the scope attribute in order to associate the table header with a row or column.</p>
    <p>Use the <code>&lt;caption></code> tag in order to write a small description of the table's purpose for disabled users. This text (if not in the design) can be hidden with the techniques in "Hidden Screen Reader Content".</p>
    <h3>Graphs/Charts</h3>
    <p>Text positioned near the chart and hidden offscreen should be supplied for any visual data on a page. This allows disabled users to understand the purpose of the chart/graph without seeing the data.</p>
    <p>Ensure that the graph/chart's summary is short and succinct and only relay the purpose/results of the chart or graph and not the actual data points in their entirety.</p>
  </div>
  <div class="column small-12 xlarge-6" data-equalizer-watch></div>
</section>