<!-- TOOLS -->

<section class="row rule" data-equalizer data-equalize-on="xlarge">
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <h2>Tools</h2>
    <ul>
    	<li><a href="http://www.karlgroves.com/2013/09/07/diagnostic-css-super-quick-web-accessibility-testing/">Diagnostic.css</a> - A CSS file which, when applied to a web page, will highlight accessibility errors in the page.</li>
    	<li><a href="http://allyjs.io">Ally.js</a> - A JavaScript library simplifying certain accessibility features, functions and behaviors</li>
    </ul>
  </div>
  <div class="column small-12 xlarge-6" data-equalizer-watch></div>
</section>