<!-- VIDEO -->

<section class="row rule" data-equalizer data-equalize-on="xlarge">
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <h2>Video</h2>
    <p>All video should have captions applied for the hearing impaired.</p>
    <p>Videos should have hidden screen reader text supplying the transcript of the video. Alternatively, this text can be supplied on another page that is linked to from the video area.</p>
    <p>Do not auto play videos on the page as this can be disruptive to any user, not just disabled persons.</p>
  </div>
  <div class="column small-12 xlarge-6" data-equalizer-watch></div>
</section>