<!-- COLORS -->

<section class="row rule" data-equalizer data-equalize-on="xlarge">
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <h2>Colors</h2>
    <p>Keep all hex values in lowercase as this is easier to pick out while scanning through a document.</p>
    <p>Use shorthand hex values where applicable to keep code short and clean.</p>
  </div>
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <div data-xrayhtml class="prism sass">
			.selector {
				background-color: #cfa338;
			}

			.selector-two {
				color: #fff;
			}

    </div>
  </div>
</section>
