<!-- COMMENTING -->

<section class="row rule" data-equalizer data-equalize-on="xlarge">
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <h2>Commenting</h2>
    <p>Both SASS and LESS allow for you to add comments. When using comments, a // comment will be hidden in the final compiled code and using an opening and closing slash and asterisk (/*) will be included.</p>

		<p>Leave notes with // for yourself or other developers on TODO items that need to be completed.</p>

		<p>Comment any piece of code with that may need explanation as to why it is there (ex. Browser hacks)</p>

		<p>Include a commented intro for each stylesheet with slash-asterisk comments. This should, at the very least, detail the name of the stylesheet/what it pertains to (Ex. Variables, Colors, Mixins, etc.) The use of ASCII Art comments for this are encouraged as long as they are kept to a few lines of code and are PG rated. This is visually distinct when scanning through compiled code.</p>

  </div>
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <div data-xrayhtml class="prism sass">
		/* This comment will appear in compiled code! */

		// TODO: This will not appear in the compiled code
    </div>
  </div>
</section>


