<!-- FILE NAMING -->

<section class="row rule" data-equalizer data-equalize-on="xlarge">
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <h2>File Naming</h2>
    <p>CSS should be stored in and delivered as .css files. If using SASS, these should be stored as .scss and delivered as .css. If using LESS, these should be stored as .less and delivered as .css.</p>
    <p>File naming conventions should follow the standard of file-name.scss; where names are in all lowercase and spaces are replaced by hyphens.</p>
    <p>Should version numbers be required the following standard should be used: file-name_v3.0.1.css; versions are separated by underscores and version numbers contain periods as the normally would.</p>
  </div>
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <div data-xrayhtml class="prism sass">
			// File Name Examples:

			components.footer.scss
			generic.reset.scss
			elements.headings.scss

			// Versioned Examples:

			components.footer_v3.0.scss
			components.navigation_v1.4.scss
			settings.colors_v4.3.2.scss 
    </div>
  </div>
</section>



