<!-- FILE ORGANIZATION/STRUCTURE -->

<section class="row rule">
  <div class="column small-12 xlarge-6">
    <h2>File Organization/Structure</h2>
    <p>Preferred SASS &amp; LESS file organization is using ITCSS (Inverted Triangle CSS) methodology. A boilerplate and introduction of this folder structure can be found here.</p>

		<p>Code should be split into multiple files in order to keep a clear separation of components.</p>

		<p>Do not organize code by page as this narrows a component's scope drastically.</p>

		<p>Ensure that every file has an introductory title with the stylesheet's name or what the stylesheet contains.</p>

		<p>Use consistent white space between rule sets in order to increase legibility. Preferred white space is one blank line.</p>
  </div>
  <div class="column small-12 xlarge-6">
    <div data-xrayhtml class="prism sass">
    	/*------------------------------------*\
    	  INTRODUCTORY TITLE
    	\*------------------------------------*/

    	// White space

    	.selector {
    		// styles
    	}

    	.selector-two {
    		// styles
    	}

    	.selector-three {
    		// styles
    	}
    </div>
  </div>
</section>

