<!-- !IMPORTANT -->

<section class="row rule" data-equalizer data-equalize-on="xlarge">
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <h2>!important</h2>
    <p>Situations where you need to use !important in your CSS should be extremely rare, as it can cause a lot of headaches down the line in regards to overriding styles. A better understanding of CSS specificity can help you to avoid situations where you feel you have no choice but to use !important.</p>
    <p>If you do come across a scenario where you absolutely need to use !important, it’s helpful to include a comment of what you’re trying to override or why.</p>
  </div>
  <div class="column small-12 xlarge-6" data-equalizer-watch></div>
</section>