<!-- INLINE CSS -->

<section class="row rule" data-equalizer data-equalize-on="xlarge">
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <h2>Inline CSS</h2>
    <p>CSS should not be embedded in HTML files unless the code is specific to a single session. Code in HTML adds significantly to page weight with no opportunity for mitigation by caching and compression.</p>
    <p>Writing your CSS within an HTML element should be avoided whenever possible. Inline styles add unnecessary page weight and make page updates more complicated. Using inline CSS when writing jQuery code is an exception. But it is recommended that you apply a class to the element in order to avoid inlining styles.</p>
  </div>
  <div class="column small-12 xlarge-6" data-equalizer-watch></div>
</section>