<!-- MESUREMENT UNITS -->

<section class="row rule" data-equalizer data-equalize-on="xlarge">
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <h2>Measurement Units</h2>
    <p>Developers should use rems as the standard for units. Because of mixed browser support pixels are generally the fallback units. Using SASS and LESS mixins reduces the need to duplicate code and also eases conversion from one unit to another, including from design. For IE8 support, Rem-Unit-polyfill (http://chuckcarpenter.github.io/REM-unit-polyfill/) is recommended.</p>
  </div>
  <div class="column small-12 xlarge-6" data-equalizer-watch></div>
</section>