<!-- OPERATORS -->

<section class="row rule" data-equalizer data-equalize-on="xlarge">
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <h2>Operators</h2>
    <p>For improved readability, wrap all math operations in parentheses with a single space between values, variables, and operators.</p>
  </div>
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <div data-xrayhtml class="prism sass">
			.selector {
				padding: 20px 0 (@variable * 2) 10px;
			}
    </div>
  </div>
</section>
