<!-- PREPROCESSORS: SASS & LESS -->

<section class="row rule" data-equalizer data-equalize-on="xlarge">
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <h2>Preprocessors: SASS &amp; LESS</h2>
    <p>Use of a preprocessor should be determined on a per-project basis. While preprocessing can be a very convenient way of keeping CSS organized and unrepetitive, we must keep the project team in mind -- it is something that everyone on the development team should be comfortable working with. When delivering files to a client, the package should include both compiled and uncompiled versions of the SCSS.</p>
  </div>
  <div class="column small-12 xlarge-6" data-equalizer-watch></div>
</section>