<!-- RESETS -->

<section class="row rule" data-equalizer data-equalize-on="xlarge">
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <h2>Resets</h2>
    <p>Utilize normalize.css as the primary reset for projects. Normalize.css supports IE8+ at the time of this guide's publishing. Using a reset equalizes the look of elements across browsers.</p>
    <p><a href="https://necolas.github.io/normalize.css/">Get Normalize.css</a></p>
    <p>If support for older browsers is needed then using <a href="http://meyerweb.com/eric/tools/css/reset/">Eric Meyer's Reset</a> is the preferred replacement.</p>
  </div>
  <div class="column small-12 xlarge-6" data-equalizer-watch></div>
</section>