<!-- SINGLE DECLARATIONS -->

<section class="row rule">
  <div class="column small-12 xlarge-6">
    <h2>Single Declarations</h2>
    <p>When a class/selector only has one declaration, remove line breaks so that the rule set is contained to a single line of code. This will save space in your CSS as well as maintain legibility.</p>
  </div>
  <div class="column small-12 xlarge-6">
    <div data-xrayhtml class="prism sass">
			// This

			.selector {
				margin-top: 5px;
			}

			// Becomes

			.selector { margin-top: 5px; }
    </div>
  </div>
</section>