<!-- TABLE OF CONTENTS -->

<section class="row rule">
  <div class="column small-12 xlarge-6">
    <h2>Table of Contents</h2>
    <p>The use of a table of content in your app.scss/main.scss file is recommended for organizing and cataloging the files in your CSS. This provides other developers with a quick reference of the contained scss files.</p>
  </div>
  <div class="column small-12 xlarge-6">
    <div data-xrayhtml class="prism sass">
      /*
       * Table Of Contents
       *
       * SETTINGS
       * settings.global.scss....................Globally-available variables.
       *
       * TOOLS
       * tools.mixins.scss.......................Pre-built mixins.
       * tools.animations.scss...................Useful pre-configured animations.
       *
       * GENERIC
       * generic.reset.scss......................Resetting any native browser styles.
       *
       * ELEMENTS
       * elements.headings.scss..................H1–H6 styles.
       *
       * OBJECTS
       * objects.layout.scss.....................Grid layout - Bourbon/Neat.
       *
       * COMPONENTS
       * components.footer.scss..................The main footer.
       *
       * TRUMPS
       * trumps.utility.scss.....................Utility classes.
      */ 
    </div>
  </div>
</section>



