<!-- VARIABLES -->

<section class="row rule" data-equalizer data-equalize-on="xlarge">
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <h2>Variables</h2>
		<p>Variables should be used for values that are going to be used globally throughout the project.</p>
		<p>Generally, these declarations are made into global variables:</p>
		<ul>
			<li>Colors</li>
			<li>Typography</li>
			<li>Media Query Breakpoints</li>
		</ul>
		<p>Variable names should be written so they are clear as to what value they are holding.</p>	
		<p>Variables should be declared at the top of a individual stylesheet if pertaining only to that component.</p>
  </div>
  <div class="column small-12 xlarge-6" data-equalizer-watch>
    <div data-xrayhtml class="prism sass">
			$color-brand-primary: #fff;

			$breakpoint-sm: 768px;

			$font-primary: 'Helvetica Neue', Arial, sans-serif;
    </div>
  </div>
</section>