// ----------------------------------------------
// Settings - Colors
// ----------------------------------------------

$tan-500: #f5f2f0;
$tan-700: #C1BFBF;
$tan-900: #A5A5A5;

$mad-pow: #009EA3;

$red-500: #D6726E;